<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azureservicebuspushdatainqueuetopics20250518120519.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f4e30828-3b2f-4de6-9dde-e486c1ed265d/resourcegroups/cloudnativeRG/providers/Microsoft.Web/sites/AzureServicebusPushDataInQueueTopics20250518120519</ResourceId>
    <UserName>$AzureServicebusPushDataInQueueTopics20250518120519</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://azureservicebuspushdatainqueuetopics20250518120519.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>